#heart {
  color: red;
}

#footer {
  /* position: sticky; */
  left: 0;
  bottom: 0;
  width: 100%;
}

#footerContainer {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  min-height: -webkit-calc(100% - 186px);
  min-height: -moz-calc(100% - 186px);
  min-height: calc(100% - 186px);
}

/* #FooterTitle {
  color: green;
}

#robinhood {
  color: green;
}

#learnvest {
  color: burlywood;
}

#simpledollar {
  color: orange;
}

#stackingbenjamins {
  color: orchid;
} */
