#container {
  margin: 45px auto 30px auto;

}

.icondiv {
  padding: 5px;
}

.fa-search-dollar {
  color: green;
  padding: 10px 0px;
}

.fa-hand-holding-usd {
  color: blue;
  padding: 10px 0px;
}

.fa-coins {
  color: gold;
  padding: 10px 0px;
}


#finn {
    padding-top: 20px;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

.quoteBox {
  height: 200px;

}

#quoteText {
  text-shadow: 2px 2px grey;
}

.finnSteps {
 padding: 15px;
}

.finnFaces {
  padding-bottom: 15px;
}

#line {
  margin-top: 45px;
  margin-bottom: 50px;
}

#fang {
  color: grey;
}

#oscar {
  color: rgb(202, 18, 202);
}

#enzo {
  color: red;
}

#natalia {
  color: pink;
}

#bogac {
  color: seagreen;
}
